*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    background-image: url(../img/fondo.gif);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

nav{
    padding: 0;
    box-shadow: 0 3px 6px #0003;

    button{
        text-decoration: none; 
        color: black; 
        border: 1px solid #0f2b35; 
        border-radius: 10px;
        padding: 0.5em;
        display: flex;
        text-shadow: none;
        font-size: 0.8em;
        margin: 5px;
    }

    ul{
        margin: 0;
        padding: 0;
    }
}

footer{
    text-align: center;
    box-shadow: 0px -3px 6px #0003;
    background-color: #f8f9fa;
    width: 100%;
    flex-shrink: 0; 
    margin-top: auto;
}

form{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    label{
        display: block;
        text-transform: uppercase;
        font-size: 12px; 
        font-weight: bold;
        color:black;
        margin: 5px; 
    }

    select{
        border-radius: 12px;
        padding: 5px;
        width: 88%;
        margin-bottom: 10px; 
        border: 2px solid #184656;
        font-weight: bold;
    }

    
    #modelo{
        width: 88%;
    }

    input{
        background-color: transparent;
        padding: 5px; 
        margin-bottom: 10px; 
        border-radius: 12px;
        border: 2px solid #184656;
        font-weight: bold;

        input:hover{
            background-color:  #184656;
        }

        input ::placeholder{
            color: #184656;
            font-size: 14px; 
        }
    }    

    button{
        text-decoration: none; 
        color: white; 
        border: 1px solid #0f2b35; 
        background-color: #184656;
        border-radius: 10px;
        padding: 0.5em;
        display: flex;
        text-shadow: none;
        opacity: 0.8;
        transition: all 0.2s;
        font-size: 0.8em;
        margin-bottom: 5px;

        button:hover{
            opacity: 1;
        }
    }

}

#subtitulo{
    display: none;
}

@import "queries";